body{
  margin:0px;
  padding:0px;

}
header{
  height: 70px;
  background-color: black;
  color: antiquewhite
}
h1{
  width: 100%;
  text-align: center;
  padding:20px;
}
div{
  align-items: center;
}